.aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 0px;
  padding: 15px 10px;
  border-left-width: 2px;
  border-left-color: #645f5f;
  border-left-style: solid;
  position: fixed;
  top: 0;
  right: -270px;
  background-color: transparent;
  transition: 0.3s;
  transition-property: right, width;
  color: white;
  z-index: 999;
  background-color: #152d41;

}


.aside.aside-opened {
  right: 0;
  width: 250px;
}

.aside .aside-login {
  height: fit-content;
  padding: 16px;
  background: #4969b5;
  border-radius: 25px;
}

.aside .aside-login h3 {
  font-size: medium;
}

.aside .aside-login h4 {
  font-size: larger;
}

.aside .aside-login a {
  display: inline-block;
  border-radius: 25px;
  text-decoration: none;
  width: 95%;
  color: white;
  font-size: 14px;
  background-color: #1c7430;
  padding: 2px 0;
  text-align: center;
}

.aside .aside-user-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.aside .aside-user-info .user-first-letter {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 900;
  background-color: #da59d7;
}

.aside .aside-user-info .balance {
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: fit-content;
  gap: 5px;
}

.aside .aside-user-info .balance i {
  font-size: medium;
}

.aside .aside-user-info .user-more {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 20px;
}

.aside .aside-user-info .user-more a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  align-items: center;
  transition: 0.3s;
}

.aside .aside-user-info .user-more a:hover {
  background-color: #6c8eb2;
}

.aside .nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.aside .nav a {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: start;
  text-decoration: none;
  color: white;
  padding: 7px 7px 7px 14px;
  border-radius: 13px;
  letter-spacing: 2px;
  font-weight: 600;
}

.aside .nav a.require-admin {

pointer-events: none;
  color: gray;
}

.aside .nav a.require-admin i {

  color: currentColor!important;
}

.aside .nav a:hover {
  background: #36536b!important;
}

.aside .nav a i {
  margin-right: 25px;
  width: 20px !important;
  height: 20px !important;
  display: inline-block;
}

.aside .nav a i:before {
  width: 20px !important;
  height: 20px !important;
  display: inline-block;
}

.aside .nav a.aside-home i {
  color: lawngreen;
}



.aside .contact-apps-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.aside .contact-apps-container i {
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
  transition:transform 0.5s;
}

.aside .contact-apps-container .whatsapp-link i {
  color: #4caf50;
}

.aside .contact-apps-container .tiktok-link i {
  color: black;
}

.aside .contact-apps-container .insta-link i {
  color: #e1306c;
}


.aside .contact-apps-container i:hover {
  color: white!important;
  transform: scale(1.3);
}

.close-menu:hover {
  background-color: #6c8eb2;
  transition: 0.03s;
  color: black;
  cursor: pointer;
}
