.header-container {

  height: fit-content;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 15px 25px;


  > div {
    flex: 1;
    height: 100%;
  }

  .header-left-side {

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 15px;

    h1 {
      color: white;
    }
  }

  .header-right-side{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 15px;

    a {

      cursor: pointer;
      width: 45px;
      height: 45px;
      display: flex;
      background-color: transparent;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: 0.3s ease-in-out;
      text-decoration: none;

      &:hover{
        background-color: #6c8eb2;
      }

      &:visited{
        color: white;
      }

      i{
        color: white;
        font-size: 20px;
      }
    }
  }
}
