
<style>
    body{
        background: linear-gradient(#244580, #2c619e)
    }
</style>

<h2 style="color: red;margin: 20px auto ; width: fit-content;text-align: center;">Error while resetting password</h2>
<a href="{{ path('app_home') }}" style="margin: auto;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
    background: #4ccd4c;
display: block">Home Page</a>

