<style>
    .reset-password-form{
        display: flex;
        margin: 15px auto;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
        border-radius: 15px;
        width: fit-content;
        padding: 10px 15px;
        max-width: 300px;
        background: #c4c4e1;
    }

    .reset-password-form >div{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .reset-password-form li {
        font-size: small;
    }

    .reset-password-form input{
        height: 50px;
        width: 100%;
        outline: none;
        font-size: 1rem;
        color: #707070;
        margin-top: 8px;
        margin-bottom: 8px;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 0 15px;
    }

    .reset-password-form ul {
        list-style-type: none;
        color: red;
        width: 100%;
        padding: 0;
        font-weight: 700;
    }
    .reset-password-form button{
        width: 75%;
        padding: 10px 15px;
        margin: 10px auto;
border-radius: 5px;
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease;
        background: rgb(130, 106, 251);
    }

    .reset-password-form button:hover{
        background: rgb(88, 56, 250);
    }
</style>

<h2 style="margin: auto;width: fit-content">Set new password</h2>




{{ form_start(
    form ,{
        'attr' : {
            'class' : 'reset-password-form'
        }   }
) }}

{{ form_row(form.password) }}

<button type="submit">Save</button>

{{ form_end(form) }}
