<h1 style="width: fit-content;margin: auto;text-align: center;">Please check your email to validate your account, don't forget to check the Junk</h1>
<br>
<div style="display: block;margin: auto;width: fit-content; text-align: center">
<a href="{{ path("app_login") }}" class="btn-success" >Go To Login Page</a>
    <br>
<a href="{{ path("app_home") }}" class="btn-success" >Go To Home Page</a>
</div>
