{% block body %}

    <div class="header-container">
        <img src="{{ asset('img.png') }}" alt="logo" class="header-logo" style="width: 50px; height: 20px">

        <div class="menu-container">
            <div class="menu-btn">
                <div class="menu-btn__burger">
                </div>
            </div>
        </div>

        {% if not app.user %}


                {% endif %}



    </div>





{% endblock %}
