.acc-container {

  .product-container {







  img.add-to-shopping-basket {
    position: absolute;
    width: 39px;
    height: 29px;
    opacity: 0;
    padding: 4px;
    top: 19%;
    right: 0;
    background: #c6c1c1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    @media (max-width: 995px) {
      opacity: 1;

    }
  }


  &:hover {
    opacity: 1 !important;

    img.add-to-shopping-basket {
      opacity: 1 !important;
    }

  }


}

h2 {
  background-color: tomato;
  border-radius: 5px;
  text-align: center;
}


}

.shopping-basket {
  height: 50px;
  border-radius: 50%;
  z-index:15;
  position: fixed;
  top: 50%;
  cursor: pointer;
  right: 0;
  transition: 0.5s ease-in-out;

  &:hover {
    height: 60px;
  }
}
