@import "checkout";
@import "partials/header";

body{
  background-color: #173e43!important;
}
.d-flex {
  display: flex;
}
.d-none{
  display: none!important;
}

.flex-column {
  flex-direction: column;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

