@import "checkout";
@import "home";
@import "partials/header";
@import "~bootstrap/scss/bootstrap";

body{
  background-color: #3f8a93!important;
}

.w-fit{
  width: fit-content!important;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

