.inf-content{
  border:1px solid #DDDDDD;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);

  img{
    border-radius: 50%;
  }
}

.transaction-tables{
  th{
    text-align: center;

  }

  tr:first-child{
    position: sticky; /* make the table heads sticky */
    top: 0px;
  }

  tr{
    border-bottom: 1px solid #c7c3c3;
  }

  tr.isCredit td{
    background-color: #70fb70 !important;
  }

  tr.isDebit td{
    background-color: #ff6767!important;
  }
}

.transaction-div{
  overflow-y: scroll;
  max-height: 500px;
}
