table {
  min-width: 320px!important;

  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
  border: 1px solid #ddd;
  font-size: 14px;

  tr:nth-child(even) {
    background-color: #c9c9c9
  }
  tr:nth-child(odd) {
    background-color: white
  }
  th {
    text-align: left;
    padding: 8px;

    @media (max-width: 992px){
      padding: 0 8px;
    }
  }

  tr{
    text-align: center;
    padding: 8px;
  }

}

.pending {
  background-color: #e8c22c;
}

.rejected {
  background-color: #bb000f;
}

.received, .confirmed, .confirmed {
  background-color: #76a84b;
}


