{% extends 'base.html.twig' %}


{% block body %}
    <a href="/shopping-basket">

        <i class="fa-solid fa-basket-shopping shopping-basket"></i>
    </a>


<section>
    <div class="shopping-basket-container">
        <div class="shopping-basket-head">

            <h4>Shopping Carte</h4>
            <div class="d-flex justify-content-start">
                <h5>Qty</h5>
                <h5>Total Price</h5>
            </div>


        </div>


    </div>
</section>

{% endblock  %}
